body, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.toolbar {
    background-color: lightgray;
    border-bottom: 1px darkgray dotted;
    padding: 3px 0 3px 10px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.clear {
    clear: both;
}

#events {
    margin-top: 25px;
}

.renderjson a {
    text-decoration: none;
}

.renderjson .disclosure {
    color: darkblue;
    font-size: 125%;
}

.renderjson .syntax {
    color: grey;
}

.renderjson .string {
    color: darkblue;
}

.renderjson .number {
    color: darkorchid;
}

.renderjson .boolean {
    color: darkmagenta;
}

.renderjson .key {
    color: darkolivegreen;
}

.renderjson .keyword {
    color: darkgoldenrod;
}

.renderjson .object.syntax {
    color: lightseagreen;
}

.renderjson .object a {
    color: darkblue;
}

.renderjson .array.syntax {
    color: darkslateblue;
}
